.Blog {
  background-color: lightgray;
  padding-top: 5;
  padding-left: 2;
  border: 2px solid black;
  margin-bottom: 10px;
}

.blog-min {
  -webkit-user-select: none; /* Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}